@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* website font sytle */
  --font-alfa: "Alfa Slab One", serif;
  --font-lato: "Lato", sans-serif;

  /* website color sytle */
  --color-primary: #FFBF00;
  --color-button: #F25292;
  --color-accent: #883C82;
  --color-background: #241023;

  --breakpoint-2xs: 425px;
  --breakpoint-xs: 550px;
  --breakpoint-3xl: 550px;
}

:root,
body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: var(--font-alfa);
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

.section_spacing {
  @apply container mt-[60px] md:mt-20 lg:mt-[100px] mx-auto flex flex-col gap-[30px] md:gap-10 lg:gap-[50px] px-4 md:px-[30px] xl:px-[117px] transition-all
}

.spacing {
  @apply gap-[30px] md:gap-10 lg:gap-[50px]
}

.display_text {
  @apply text-white/15 uppercase text-[40px]/9 md:text-6xl/13 lg:text-[80px]/18
}

.title {
  @apply uppercase text-xs md:text-sm lg:text-base
}

.description {
  @apply text-[10px] md:text-xs lg:text-sm
}

.icon {
  @apply w-3 h-3 md:w-4 md:h-4 lg:w-6 lg:h-6
}

.avatar {
  @apply rounded-full outline-2 outline-accent outline-offset-0 w-6 h-6 md:w-9 md:h-9 lg:w-11 lg:h-11
}

.carousel {
  @apply opacity-60 mr-4 md:mr-14 xl:mr-20 h-5 md:h-[30px] lg:h-10
}

.speaker {
  @apply h-auto max-w-[100px] md:max-w-[200px] lg:max-w-[300px] object-cover
}

.embla {
  position: relative;
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: none;
  width: auto;
}

.embla::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--color-background));
  z-index: 2;
  pointer-events: none;
}

.embla::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-background));
  z-index: 2;
  pointer-events: none;
}

.vertical {
  writing-mode: vertical-lr;
}

.sideways {
  writing-mode: sideways-lr;
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}
